<div class="container flex items-center p-4 mx-auto min-h-screen justify-center">
    <h1 class="font-mono text-xl code">
        Welcome to
        <span class="text-purple-700">Shopify liquid</span>,
        <span class="text-indigo-700">AlpineJS</span>
        and
        <span class="text-gray-700">TailwindCSS</span>
    </h1>
</div>